body {
  font-family: sans-serif;
  margin: auto 0;
}
.content {
  margin-left: 350px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  margin: 1em;
  background-color: '#';
  color: white;
}

nav a {
  display: flex;
  margin: 1em;
  background-color: '#';
  color: white;
}

#logo {
  margin-left: 10px;
}

#navigation {
  flex-direction: column;
  height: 1300px;
  color: white;
  background-color: #465775;
  width: 320px;
  position: fixed;
  top: 0;
  height: 100%;
  margin-right: 20px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#Annyang {
  height: 350;
  width: 800;
}

#prompt {
  color: blue;
}

#app {
  display: flex;
}

#code {
  display: flex;
  flex-direction: column;
}
#sandbox {
  margin-left: 30px;
}

.challengeDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  max-width: 600;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.nextBtn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #ef6f6c;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 5px grey;
  align-self: flex-end;
}
#keywordsGot {
  color: green;
}
#keywordsNotGot {
  color: red;
}

.containsABot {
  display: flex;
}

#botDiv {
  justify-self: flex-end;
  align-self: center;
}

#approachDiv {
  display: flex;
  background-size: cover;
}
