body {
  font-family: sans-serif;
  margin: auto 0;
}
/* .content {
  margin-left: 350px;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  margin: 1em;
  background-color: '#';
  color: white;
  /* padding: 10px; */
}

nav a {
  display: flex;
  margin: 1em;
  background-color: '#';
  color: white;
}

#logo {
  margin-left: 10px;
  font-size: 40px;
}

#navigation {
  flex-direction: row;
  color: white;
  background-color: #465775;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 5px grey;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15px;
}

.bodyComponent {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}

form div {
  margin: 1em;
  display: inline-block;
}

#Annyang {
  height: 350;
  width: 800;
}

#prompt {
  color: blue;
}

#app {
  display: flex;
  flex-direction: column;
}

#code {
  display: flex;
  flex-direction: column;
}
#sandbox {
  margin-left: 30px;
}

.challengeDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  max-width: 600;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#login {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #b8bbc7;
  box-shadow: 3px 3px 5px grey;
  /* height: 200px; */
  align-items: center;
}

#notGoogle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.loginBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-width: 50%;
  max-width: 140px; */
  min-height: 30px;
  background-color: #ef6f6c;
  /* margin-top: 10px;
  margin-right: 50px; */
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 3px 3px 5px grey;
}

.loginBtn a {
  color: white;
}

.loginSignup {
  display: flex;
  flex-direction: row;
}

.loginInput {
  height: 20px;
  width: 200px;
  font-size: 16px;
}

.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #ef6f6c;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 5px grey;
  align-self: flex-end;
}

.nextBtn a {
  text-align: center;
  color: white;
}

#keywordsGot {
  color: green;
}
#keywordsNotGot {
  color: red;
}

.containsABot {
  display: flex;
}

#bot {
  margin-top: 120px;
  margin-left: 10px;
  align-self: flex-end;
}

#botDiv {
  justify-self: flex-end;
  align-self: center;
}

#approachDiv {
  display: flex;
  background-size: cover;
}

/* #userHome {
  display: flex;
  flex-wrap: wrap;
} */
.userHomeCard {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 500px;
  height: 300px;
  background-color: #b8bbc7;
  margin-top: 20px;
  margin-right: 20px;
  color: #404146;
  text-align: center;
  box-shadow: 3px 3px 5px grey;
}

.userHomeCard a {
  color: #404146;
}

#dashboardPrompt {
  min-width: 200px;
  max-width: 500px;
  flex-grow: 1;
  flex-shrink: 2;
  margin-top: 20px;
  background-color: #b8bbc7;
  box-shadow: 3px 3px 5px grey;
  color: #404146;
  height: 400px;
  padding: 20px;
}

#dashboardPrompt a {
  color: #404146;
}

.dashBtn {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #e3b505;
  /* margin-top:  */
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  /* align-self: flex-end; */
  box-shadow: 3px 3px 5px grey;
}
.dashBtn h4 {
  margin-top: 10px;
  color: white;
}
.promptButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 20px; */
}

#solutionBtn {
  box-sizing: border-box;
  background-color: #34d1bf;
  border: 2px solid #34d1bf;
  border-radius: 0.6em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#solutionBtn a {
  color: white;
}

#solution {
  display: flex;
  flex-wrap: wrap;
}

.nextChallengeBtn {
  box-sizing: border-box;
  background-color: purple;
  border: 2px solid purple;
  border-radius: 0.6em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.nextChallengeBtn a {
  color: white;
}

.challengeLink {
  margin: 20px;
}

.challengeLink a:hover {
  font-size: 20px;
  color: #142d58;
}
