body {
  font-family: sans-serif;
  margin: auto 0;
  background-color: #664f5c;
  color: lightgrey;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
}

.bigOContent {
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  margin: 1em;
  background-color: '#';
  color: lightgray;
  /* padding: ; */
}

nav a {
  display: flex;
  /* margin: 1em; */
  background-color: '#';
  color: lightgray;
}

h1 {
  color: #5f0f40;
}

@media screen and (max-width: 600px) {
  .fa-comments {
    font-size: 20px;
    margin: 5px;
  }

  #slides {
    margin: 20px;
    box-shadow: 3px 3px 5px black;
  }

  iframe {
    margin: 20px;
  }
  #logo {
    width: 100px;
    height: 38px;
  }

  #sandbox {
    margin: 10px;
    width: 350px;
    height: 1000px;
  }

  nav a {
    margin: 5px;
  }
}
@media screen and (min-width: 600px) {
  .fa-comments {
    font-size: 50px;
    margin: 5px;
  }

  #logo {
    width: 200px;
    height: 75px;
  }

  #sandbox {
    margin: 10px;
    width: 800px;
    height: 1000px;
  }
}

#codeAloudNameDiv {
  display: flex;
  flex-wrap: wrap;
}

#navigation {
  flex-direction: row;
  color: lightgray;
  background-color: #321325;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 5px black;
  margin: 0 auto;
  min-height: 100px;
  padding: 5px;
}

.linksAndLogin {
  display: flex;
  width: 100%;
  align-content: center;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
  width: 50%;
}

#errorMessage {
  color: lightgray;
}

.bodyComponent {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}

#Annyang {
  height: 350;
  width: 800;
  margin-right: 15px;
}

#prompt {
  /* color: blue; */
}

#app {
  display: flex;
  flex-direction: column;
}

#code {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  margin-bottom: 10px;
}
#login {
  /* margin-top: 120px; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  flex-shrink: 1;
  /* background-color: #5f0f40; */
  /* box-shadow: 3px 3px 5px black; */
  align-content: center;
  /* min-height: 50px; */
  width: 100%;
}
.largeViewBorderCard #login {
  max-width: 500px;
}

#loginForm {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-left: 25px;
  /* flex-direction: column; */
}

.homeBorderCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-grow: 2; */
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 1100px;
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px black;
  align-items: flex-start;
  /* height: 100%; */
}

.homeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 20px;
  height: 560px;
}

.borderCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 420px;
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  /* padding: 30px; */
  box-shadow: 3px 3px 5px black;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}
.biggerBorderCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  /* max-width: 90%; */
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  /* padding: 30px; */
  box-shadow: 3px 3px 5px black;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}
.largeViewBorderCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-grow: 2; */
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 900px;
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px black;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
}

.bigOBorderCard {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 800px;
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  /* padding: 30px; */
  box-shadow: 3px 3px 5px black;
  align-items: center;
}

.bigODetailsBorderCard {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 700px;
  background-color: #5f0f40;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  box-shadow: 3px 3px 5px black;
  align-items: center;
  max-height: 700px;
}

#promptAnnyang {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

#promptAnnyang textarea {
  font-size: 16px;
}

.annyangContainer {
  align-items: center;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.loginBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 26px;
  background-color: #5f0f40;
  border-color: #c1aba6;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.loginBtn a {
  color: white;
}

.loginInput {
  height: 20px;
  width: 200px;
  font-size: 16px;
}

.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width: 200px;
  height: 50px;
  background-color: #c1aba6;
  margin: 20px;
  border-radius: 5px;
  color: #4b4b4b;
  box-shadow: 3px 3px 5px black;
  /* align-self: flex-end; */
}

.nextBtn a {
  text-align: center;
  color: #4b4b4b;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#keywordsGot {
  color: green;
  margin: 5px;
}
#keywordsNotGot {
  color: red;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

#bot {
  margin-top: 120px;
  margin-left: 10px;
  align-self: flex-start;
}

#approachDiv {
  display: flex;
  background-size: cover;
  max-width: 600px;
}

#userHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userHomeCard {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 400px;
  min-height: 500px;
  background-color: #c1aba6;
  margin: 20px;
  padding: 30px;
  color: #4b4b4b;
  text-align: justify;
  box-shadow: 3px 3px 5px black;
  align-items: center;
  height: 75%;
}

#getStarted {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #4b4b4b;
  height: 225px;
  background-color: #c1aba6;
  box-shadow: 3px 3px 5px black;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#getStarted a {
  color: #4b4b4b;
  text-decoration: underline;
}

#signature {
  width: 280px;
  height: 40px;
  align-self: flex-end;
}

.largeViewCard {
  display: flex;
  /* flex-direction: column; */
  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;
  /* min-height: 500px; */
  max-width: 800px;
  background-color: #c1aba6;
  margin: 10px;
  padding: 30px;
  color: #4b4b4b;
  text-align: justify;
  box-shadow: 3px 3px 5px black;
  align-items: center;
  height: 75%;
  justify-content: space-evenly;
}

.bigOCard {
  display: flex;
  background-color: #c1aba6;
  margin: 20px;
  padding: 30px;
  color: #4b4b4b;
  box-shadow: 3px 3px 5px black;
  align-items: center;
  height: 600px;
}

.userHomeCard #login {
  flex-direction: column;
}

.userHomeCard h2 {
  color: #4b4b4b;
  text-decoration: underline;
}

.userHomeCard i {
  color: #4b4b4b;
}

.userHomeCard a {
  color: #6d2451;
}

.userHomeCard a:hover {
  text-decoration: underline;
}

#topics {
  flex-direction: column;
}

#challenges {
  flex-direction: column;
}

#instructions {
  display: flex;

  flex-grow: 2;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 100px;

  min-height: 500px;
  background-color: #c1aba6;
  margin: 20px;
  padding: 30px;
  color: #4b4b4b;
  text-align: justify;
  box-shadow: 3px 3px 5px black;
  align-items: center;
}

.ynButton {
  margin: 10px;
}

#solutionBtn a {
  color: #5f0f40;
}

#solution {
  display: flex;
  flex-wrap: wrap;
}

.nextChallengeBtn {
  box-sizing: border-box;
  background-color: #5f0f40;
  border: 2px solid #5f0f40;
  border-radius: 0.6em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.nextChallengeBtn a {
  color: white;
}

hr {
  border: 1px solid #4b4b4b;
  width: 100%;
}

#stats button {
  width: 50px;
  height: 30px;
  font-size: 14px;
  background-color: #5f0f40;
  border-color: #5f0f40;
  border-radius: 5px;
  color: lightgray;
}

#stats .container {
  align-items: center;
}

.challengeLink {
  margin: 10px;
}

.topicLink {
  margin: 20px;
}

.lessonLink {
  margin: 20px;
}
.challengeLink a:hover {
  /* font-size: 20px; */
  text-decoration: underline;
}

#individualSolution {
  border: 1px solid black;
  padding: 10pt;
}
#solutionsBtn {
  text-decoration: underline;
  color: #5f0f40;
}

#checkbox {
  width: 25px;
  height: 25px;
  font-size: 18px;
  margin-bottom: 0px;
}

#exmplPgBtns {
  display: flex;
}
#linkText {
  color: #4b4b4b;
}

#dashboardStats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#lastLogin {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}

.statsContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
}
.challengeComplete {
  display: flex;
  flex-wrap: wrap;
  /* width: 75%; */
  margin-left: 10px;
  align-items: center;
}

.challengeLinkComplete {
  margin-left: 10px;
}

.notRec {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 30px;
  margin: 2px;
  outline: none;
  background-color: darkred;
  justify-self: center;
  align-self: center;
}

.Rec {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 30px;
  margin: 2px;
  outline: none;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  justify-self: center;
  align-self: center;
}
.form {
  width: 100%;
}
.textBox {
  width: 100%;

  box-sizing: border-box;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(24, 8, 8, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}

#pauseBtn {
  width: 30px;
  height: 30px;
  border-color: #202020;
  padding: 10px;
  border-style: solid;
  border-width: 4px;
  background-color: white;
  margin: 2px;
}

#rec-stopDiv {
  display: flex;
  align-items: center;
  background-color: #202020;
  border-radius: 12px;
  margin: 10px;
  width: 100px;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
  flex-direction: row;
}

#submitBtn {
  border: none;
  background-color: #c1aba6;
  text-decoration: underline;
  color: #4b4b4b;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#recBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#stopBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#exampleCheck {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#exampleCheck input {
  font-size: 16px;
  width: 200px;
  margin: 10px;
}
.exampleBtns {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
